.items {
  padding-bottom: 47px;

  &__list-indent {
    width: 450px;
  }

  &__list-indent:not(:last-child) {
    margin-bottom: 30px;
  }

  &__list-pictures {
    background-color: var(--button-color);
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 4px;
    margin-bottom: 30px;
  }

  &__list-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }

  &__list-description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}


@media screen and (min-width: 769px) {
  .items__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px; 
    row-gap: 30px; 
 }

  .items__list-indent {
    width: 354px;
  }

}





@media screen and (min-width: 1200px) {
  .items {
    padding-bottom: 30px;

    &__list-indent {
      width: 270px;
    }
  }
}
