
.logo {
  font-family: Raleway, Arial;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.studio-top {
  color: var(--logo-color);
}

.footer-logo {
  margin-bottom: 20px;
}

@media screen and (min-width: 769px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
  }
}

